
<div class="container">

  <div class="row">
    <div class="col-8 offset-2">
    <h1 class="text-center">Ajouter un vehicule</h1>

    <%= render "form", vehicule: @vehicule %>

      </div>
    </div>
  </div>
